@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>@Html.ActionLink("My Detail", "?", "Patient")</li>
    <li>@Html.ActionLink("Take Appointment", "?", "Patient")</li>
    <li>@Html.ActionLink("View and Manage my Appointments", "?", "Patient")</li>
    <li>@Html.ActionLink("Logout ", "?", "Patient")</li>
</ul>